<p>
  addcity works!
</p>
<div class="form-group">
  <input type="text" id="customerFname" formControlName="customerFname" placeholder="customer First name" class="form-control">
  <input type="text" id="customerMname" formControlName="customerMname" placeholder="customer Middle name" class="form-control">
  <input type="text" id="customerLname" formControlName="customerLname" placeholder="customer Last name" class="form-control">
  <input type="text" id="customerMobileNo" formControlName="customerMobileNo" placeholder="customer Mobile No" class="form-control">
  <input type="text" id="customerDob" formControlName="customerDob" placeholder="customer  Dob" class="form-control">
  <input type="text" id="customerEmailId" formControlName="customerEmailId" placeholder="customer EmailId" class="form-control">
  <input type="text" id="address" formControlName="address" placeholder="Address" class="form-control">
  <input type="text" id="statusCode" formControlName="statusCode" placeholder="status Code" class="form-control">
  <input type="text" id="loadRequired" formControlName="loadRequired" placeholder="load Required" class="form-control">
  <input type="text" id="dateTime" formControlName="dateTime" placeholder="date Time" class="form-control">
  
  <button type="submit">register</button>
  
  </div>
